@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050505;
  --foreground: #ededed;
  --accent: #5eff00; /* Neon green for procrastination energy? Or maybe something more "lazy" like soft blue */
  --accent-glow: rgba(94, 255, 0, 0.4);
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
    overflow: hidden; /* No scroll for map apps */
  }
}


